.moles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 70%;
  margin: 0 auto;
  position: absolute;
}

.mole {
  width: calc(33.33% - 20px);
  height: 100px;
  margin: 10px;
  background: url('../../../mole.svg') bottom center no-repeat;
  background-size: contain;
}

@media (min-width: 1000px) {
  .moles-container {
    width: 1000px;
  }
}